.htaccess
config/doctypes.php
config/profiler.php
config/autoload.php
config/foreign_chars.php
config/routes.php
config/config.php
config/hooks.php
config/smileys.php
config/constants.php
config/index.html
config/user_agents.php
config/database.php
config/mimes.php
config/amazon_ses_real.php
controllers/welcome.php
controllers/index.html
core/
errors/
helpers/
hooks/
index.html
language/
libraries/index.html
models/
third_party/
views/
